* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
}
*::selection{
    background-color: #fff;
}
html,
body {
    height: 100%;
    width: 100%;
}

body {
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #000000;
}

body::-webkit-scrollbar {
    width: .7rem;
    background-color: #000000;
}

body::-webkit-scrollbar-thumb {
    background-color: #95C11E;
    border-radius: 20px;
}

.main {
    height: 100%;
    width: 100%;
}

.navbar {
    height: 110px;
    width: 100%;
    padding: 1rem 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #000000;
    position: fixed;
    z-index: 40;
}

.fakenav {
    height: 110px;
    width: 100%;
}

.logo {
    height: 67px;
    width: 89px;
    object-fit: cover;
    object-position: center;
}

.mid {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 1rem;
    color: white;
    font-size: medium;
    font-weight: 550;
    cursor: pointer;
}

.mid .top {
    color: #95C11E;
}

.mid li:hover {
    color: #95C11E;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.right button {
    height: 3rem;
    width: 11rem;
    font-size: medium;
    color: #fff;
    background: transparent;
    border: 2px solid #95C11E;
    border-radius: 25px;
    position: relative;
}

.right button::after {
    content: "";
    height: 0rem;
    width: 0rem;
    background-color: #95C11E;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    right: 0;
    transition: all linear 0.3s;
}

.range::before {
    content: "BOOK RANGE";
    position: absolute;
    display: none;
}

.golf::before {
    content: "BOOK GOLF";
    position: absolute;
    display: none;
}

.range:hover::before {
    display: block;
    z-index: 1;
}

.golf:hover::before {
    display: block;
    z-index: 1;
}

.right button:hover::after {
    height: 3rem;
    width: 11rem;
}

.hero1 {
    height: 110vh;
    width: 100%;
    padding: 1rem 0 1rem 4rem;
}

.hero1content {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left1 {
    height: 100%;
    width: 50%;
    color: white;

}

.left1content {
    height: 100%;
    margin: 5rem 6rem;
}

.left1 p {
    font-size: 18px;
    text-align: left;
    margin-top: 1rem;
    line-height: 2rem;
}

.left1 h1 {
    font-size: 70px;
    margin-top: 1rem;
    text-transform: uppercase;
    font-weight: bolder;
    position: relative;
    z-index: 1;
}

.left1 h1::before {
    content: "Toptracer Range";
    position: absolute;
    -webkit-text-stroke: 2px #95C11E;
    color: black;
    left: -4px;
    top: -4px;
    z-index: -1;
}

.left1 h6 {
    font-size: 18px;
    color: #95C11E;
    margin-top: 1rem;
}

.right1 {
    height: 100%;
    width: 50%;
    border-radius: 10px;
    
}
.right1 img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
}
.hero2{
    height: 100vh;
    width: 100%;
}
.hero2content{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0rem 1rem 4rem;
}
.left2{
    height: 100%;
    width: 50%;
display: flex;
justify-content: center;
align-items: center;
}
.left2img{
    height: 70%;
    width: 100%;
    position: relative;

}
.left2img svg{
    height: 50%;
    width: 100%;
    position: absolute;
    left: 5rem;
}
.left2 .img1{
    height: 250px;
    width: 350px;
    border-radius: 15px;
    position: absolute;
    box-shadow: 0px 0px 20px 0px #95C11E;
}
.left2 .img2{
    height: 200px;
    width: 300px;
    border-radius: 15px;
    position: absolute;
    top: 11rem;
    left: 13rem;
    box-shadow: 0px 0px 20px 0px #95C11E;
   
}
.img1 img,.img2 img{
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
    border-radius: 15px;
}
.right2{
    height: 100%;
    width: 50%;
    padding: 4rem 4rem 2rem 2rem;
}
.right2content{
    height: 100%;
    width: 100%;
}
.right2content h1{
    color: white;
    font-size:36px ;
    text-transform: uppercase;
    font-weight: bolder;
}
.right2content p{
    color: white;
    font-size:18px ;
    margin-top: 2rem;
    text-align: left;
    line-height: 2rem;
}
.maincursor{
    height: 1rem;
    width: 1rem;
    background-color: #95C11E;
    border-radius: 50%;
    position: fixed;
    z-index: 99;
}
.bgcursor{
    height: 10rem;
    width: 10rem;
    position: fixed;
    background-color: #95C11E;
    filter: blur(100px);
    border-radius: 50%;
    z-index: 40;
    transform: translate(-50%,-50%);
}
.hero3{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.hero3head{
    height:20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero3content{
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
   padding: 1rem 4rem;
}
.ques1{
    border-top: 2px solid #95C11E;
    padding: 2rem;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.ques2{
    border-top: 2px solid #95C11E;
    border-bottom: 2px solid #95C11E;
    padding: 2rem;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.ques1 span,.ques2 span{
    margin-right: 10rem;
}
.arrow{
    height: 4rem;
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #95C11E;
    border-radius: 50%;
}
.arrow i{
    font-size: xx-large;
}